:root {
    /* Colors */
    --prmairy-blue: #012e4f;
    --hover-blue: #01456f;
    --secondary-orange: #fa8b31;
    --hover-orange: #ffd89e;
    --soft-bg: #f4f4f9;
    --neutral-gray: #6c757d;

     /* Fonts */
     --font-heading: 'Playfair Display', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--soft-bg);
}
@font-face {
    font-family: 'Playfair';
    src: url('../assets/fonts/playfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;   
  }

.btn-primary-blue{
    background-color: var(--prmairy-blue);
    color: #f4f4f9;
}
.btn-primary-blue:hover{
    background-color: var(--hover-blue);
    color: #f4f4f9;
}
.btn-secondary-outline-orange{
    border:1px solid var(--secondary-orange);
    color: var(--secondary-orange);
}
.btn-secondary-outline-orange:hover{
    background-color: var(--hover-orange);
    color: var(--prmairy-blue);
}
.title1{
    font-family: 'playfair', serif;
    color: var(--prmairy-blue);
    font-size: 2.5rem;
}
.title2{
    font-family: 'playfair', serif;
    color: var(--prmairy-blue);
    font-size: 1.5rem;
}